[submodule "backend"]
	path = backend
	url = https://github.com/AI-Pre-Internship-TeamG/backend
	branch = develop
[submodule "frontend"]
	path = frontend
	url = https://github.com/AI-Pre-Internship-TeamG/frontend
	branch = develop
[submodule "AI"]
	path = AI
	url = https://github.com/AI-Pre-Internship-TeamG/AI.git
